[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
faker = "*"
httpie = "*"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
flask-mail = "*"
pipfile = "*"
flask-login = "*"
flask-pagedown = "*"
markdown = "*"
bleach = "*"
flask-httpauth = "*"

[requires]
python_version = "3.7"
